*~
*.swp
*.class
*.pyc
.DS_Store
.cproject
.project
.classpath
.settings
.csettings
tags
valgrind.out
callgrind.out.*
core
doc/html/
doc/0.*
doc/1.*
developer_doc/1.*
tools/javadoc/
tools/solaruskeystore
tools/initial_quest/data.solarus.zip
work/unversioned/
CMakeCache.txt
install_manifest.txt
CMakeFiles/
Makefile
cmake_install.cmake
include/config.h
libsolarus_static.a
/solarus
error.txt
tools/update_quest.log
build/
gcwbuild/
