*~
*.swp
*.class
*.pyc
.DS_Store
.cproject
.project
.classpath
.settings
.csettings
tags
valgrind.out
callgrind.out.*
core
doc/html/
doc/0.*
doc/1.*
developer_doc/1.*
tools/javadoc/
tools/solaruskeystore
tools/editor/resources/data.solarus.zip
tools/editor/dependency-reduced-pom.xml
tools/editor/target
tools/editor/nbactions.xml
tools/update_quest.log
tools/solarus-editor.jar
work/unversioned/
CMakeCache.txt
install_manifest.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
/Testing/
/tests/bin/
include/config.h
/solarus_run
libsolarus.so
libsolarus_testing.so
error.txt
build/
gcwbuild/
