*~
*.swp
*.luac
*.class
*.pyc
.cproject
.project
.classpath
.settings
tags
callgrind.out.*
doc/html/
tools/javadoc/
tools/solaruskeystore
work/unversioned/
CMakeCache.txt
install_manifest.txt
CMakeFiles/
Makefile
cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libsolarus_static.a
src/solarus
error.txt
quests/*/CMakeFiles/
quests/*/Makefile
quests/*/cmake_install.cmake
quests/*/data.solarus
quests/zsdx/zsdx
quests/zsxd/zsxd
tests/CTestTestfile.cmake
tests/*.bin
tests/Testing/

