[Desktop Entry]
Name=Solarus
Comment=An open-source Zelda-like game engine
MimeType=application/zip;
Exec=run_solarus.sh %f
Terminal=false
Type=Application
StartupNotify=true
Icon=solarus
Categories=games
