[Desktop Entry]
Version=1.0
Type=Application
Name=Solarus Quest Launcher
GenericName=Topdown 2D adventure game
Comment=A graphical user interface to organize and play quests for the Solarus engine
Exec=solarus
Icon=solarus
Terminal=false
StartupNotify=true
Categories=Game;AdventureGame;
